<h1>YugiPriceFinder</h1>
<form class="form-filters" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div *ngFor="let filters of filters" class="form-row">
    <app-filters [filters]="filters" [form]="form"></app-filters>
  </div>
  <div class="form-row">
    <button type="submit" [disabled]="!form.valid">Buscar</button>
  </div>
</form>

<div class="div-content">
  <div *ngIf="show">
    <div class="page-content col-12 px-0">
      <div class="row mt-2 mx-0">
        <div class="col-12 col-lg-9 col-xxl-10">
          <div class="row">
            <div class="col-12 result-container">
              <div class="row mt-1 list-view">
                <div class="product-col col-12 p-0 my-1 mx-sm-1 mw-100">
                  <div class="card h-100 p-3">
                    <div class="row">
                      <div class="div-image prod-img-container col pl-0">
                        <img data-src=""
                            src={{items1.image}}
                            class="iimage productImage w-100 px-2 pt-1 pb-3 px-sm-3">
                      </div>
                      <div class="div-title product-info card-body col pl-0 pl-sm-3">
                        <div class="row mb-1">
                          <div class="col-11 prod-title">
                            <strong>{{items1.card_name}} - {{items1.card_key}}</strong></div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-12 prod-cat">
                            {{items1.expansion}}</div>
                          <div class=""></div>
                        </div>
                        <div class="row mb-2 ">
                        </div>
                      </div>
                      <div class="div-info buying-options-container d-sm-block col bg-white pl-0 p-xxl-2 border-top-0">
                        <div class="buying-options-table pb-3">
                          <div class="row align-center m-auto font-weight-bold">
                            <div class="col-3 text-center p-1">Website</div>
                            <div class="col-3 text-center p-1">Edicion</div>
                            <div class="col-2 text-center p-1">Condición</div>
                            <div class="col-2 text-center p-1">Cantidad</div>
                            <div class="div-flex col-1 text-center p-1">Precio</div>
                          </div>
                          <div class="row position-relative align-center py-2 m-auto" *ngFor="let item of items1.card_list">
                              <div class="col-3 text-center p-1">{{item.web_site}}</div>
                              <div class="col-3 text-center p-1">{{item.edition}}</div>
                              <div class="col-2 text-center p-1">{{item.condition}}</div>
                              <div class="col-2 text-center p-1">{{item.quantity}}</div>
                              <div class="div-flex col-1 text-center p-1">{{item.pricec}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>